@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    text-transform: none;
  }

  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .base-spinner {
    position: relative;
    overflow: hidden;
  }

  .base-spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .base-spinner:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.45);
    border-top-color: inherit;
    animation: spinner 0.6s linear infinite;
    z-index: 2;
  }

  .loader {
    border-top-color: #5a67d8;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .drop {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;
  }

  .uploadmyfile {
    display: none;
  }
  .contact-list-container {
    border-radius: 7px;
  }
  .contact-list-container:nth-child(1) {
    background-color: #fea614 !important;
  }
  .contact-list-container:nth-child(2) {
    background-color: #0ba3ff !important;
  }
  .contact-list-container:nth-child(3) {
    background-color: #f62d45 !important;
  }
  .contact-list-container:nth-child(4) {
    background-color: #b733e8 !important;
  }
  .contact-list-layout {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  .contact-icon {
    color: #fff;
  }
  path.contact-icon {
    fill: #2c3441;
  }
  .contact-list-layout {
    color: #2c3441;
  }

  .event-card-container {
    element.style {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      pointer-events: none;
      width: 100%;
    }
  }

  .event-card-image {
    background: #eeedf2;
    background: var(--image-background-color, #eeedf2);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .event-card-image__aspect-container {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    border-radius: var(--image-border-radius, 4px);
    aspect-ratio: 2;
    aspect-ratio: var(--image-aspect-ratio-mobile, var(--image-aspect-ratio, 2));
    width: 100%;
    width: var(--image-width-mobile, var(--image-width, 100%));
    color: #2c3441;
  }
  .event-card-container {
    border-radius: 1rem !important;
    element.style {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      pointer-events: none;
      width: 100%;
    }
  }

  .event-card-image {
    background: #eeedf2;
    background: var(--image-background-color, #eeedf2);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .event-card-image__aspect-container {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    border-radius: var(--image-border-radius, 4px);
    aspect-ratio: 2;
    aspect-ratio: var(--image-aspect-ratio-mobile, var(--image-aspect-ratio, 2));
    width: 100%;
    width: var(--image-width-mobile, var(--image-width, 100%));
  }

  .chip {
    padding: 4px 8px;
    border-radius: 30px;
    color: #2c3441;
  }
  .chip-yellow {
    background-color: #efefef;
  }

  .bg-yellow-gd {
    background-color: #fea614;
  }
  .bg-yellow-gd-hover {
    background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
    border-radius: 20px;
    color: #2c3441;
    border-color: #2c3441;
  }

  .divider {
    border-top: 3px solid #bbb;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
